
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    
}

.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 0.5fr 3fr 6fr;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 16px;
    background-color: rgb(109, 43, 224);
}


.logo {
    grid-row: 1 / 2;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.logo > img {
    width: 40px;
}

.dashboard-text {
    align-self: center;
    font-size: 1.2rem;
}

nav {
    grid-row: 2 / 3;
    
}

nav > ul, .settings > ul {
    list-style: none;
}

ul li {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 20px;
}

.side-icons {
    width: 25px;
}

.settings {
    grid-row: 3 / 4;
     
}

.content-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 6fr;
}

.header {
    grid-column: 2 / 3;
    background-color: #c7d2fe;
    padding: 10px 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-pfp {
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 15px;
}

.small-bat {
    width: 40px;
}

.bell {
    width: 20px;
}


.header-search {
    display: flex;
    gap: 5px;
}

.header-search > img {
    width: 20px;
}

input[type='search'] {
    height: 25px;
    width: 45vw;
    max-width: 471px;
    border-radius: 15px;
   
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bio {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-bio > img {
    width: 50px;
}

.header-buttons > button {
    width: 90px;
    height: 35px;
    background-color: rgb(109, 43, 224);
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    
}

.header-buttons > button:nth-child(-n+2) {
    margin-right: 10px;
}

.main-content {
    padding: 16px;
    grid-column: 2 / 3;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 250px;
    background-color: #f9fafb;
    padding-bottom: 50px;
}

.project-content {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr;
    margin-right: 5px;
}

.project-title {
    grid-column: 1;
    grid-row: 1 / 2;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.card {
   
    border: 1px solid rgb(109, 43, 224);
    border-left: 10px solid rgb(109, 43, 224);
    
    border-radius: 10px;
    padding: 30px;
    padding-top: 40px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    /**box-shadow: inset 0.5em 0em rgb(109, 43, 224); **/
    background-color: white;
}

.cd-txt {
    font-size: .9rem;
}

.icon-row {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.project-icon {
    width: 20px;
}

.info-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr;
    
}

.info-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 0.5fr 4fr;
}

.trend-label {
    align-self: center;
    margin-top: 10px;
}

.announce-card, .trend-card {
    border: 1px solid rgb(109, 43, 224);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(109, 43, 224);

}

.gr {
    color: gray;
}

.trend-icon {
    width: 50px;
}

.trend-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bord {
    display: flex;
    gap: 10px;
    align-items: center;
}

.at-tag {
    margin-bottom: 2px;
}

.usr-tag {
    font-size: .8rem;
}

.heading-txt {
    font-size: 1.1rem;
}

.a-txt  {
    font-size: .9rem;
}

.cd-txt-a {
    font-size: .8rem;
}