
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
    
}

.sidebar {
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 16px;
    background-color: rgb(88, 186, 247);
}

.logo {
    grid-row: 1 / 2;
    display: flex;
}

nav {
    grid-row: 2 / 3;
    
}

nav > ul, .settings > ul {
    list-style: none;
}

ul li {
    display: flex;
}

.settings {
    grid-row: 3 / 4;
     
}

.content-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
}

.header {
    grid-column: 2 / 3;
    background-color: aliceblue;
    padding: 10px 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-pfp {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-top img {
    width: 40px;
}

input[type='search'] {
    height: 25px;
    width: 45vw;
    max-width: 471px;
    border-radius: 15px;
   
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bio {
    display: flex;
    align-items: center;
    
}

.header-buttons > button {
    width: 75px;
    height: 30px;
    background-color: rgb(0, 174, 255);
    color: white;
    
    border-radius: 10px;
}

.header-buttons > button:nth-child(-n+2) {
    margin-right: 10px;
}

.main-content {
    padding: 16px;
    grid-column: 2 / 3;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 250px;
    background-color: rgb(227, 232, 239);
}

.project-content {
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr;
    margin-right: 5px;
}

.project-title {
    grid-column: 1;
    grid-row: 1 / 2;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.card {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    /** box-shadow: inset 0.5em 0em gold; */
}

.card-text {
    
}

.icon-row {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.project-icon {
    width: 20px;
}

.info-content {
    display: grid;
    background-color: blueviolet;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr;
    
}

.info-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 0.5fr 4fr;
}

.trend-label {
    align-self: center;
}

.announce-card, .trend-card {
    border: 1px solid rgb(28, 212, 28);
    border-radius: 10px;
    padding: 20px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid grey;

}

.gr {
    color: gray;
}

.trend-icon {
    width: 50px;
}

.trend-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bord {
    display: flex;
    gap: 10px;
}